@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eaf0f5;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.ratio-16x9,
.ratio-4x3,
.ratio-4x2,
.ratio-2x3,
.ratio-21x9,
.ratio-1x1-1,
.ratio-1x1 {
  width: 100%;
  height: 0;
}

.ratio-16x9 {
  padding-bottom: 56.25%;
}

.ratio-4x3 {
  padding-bottom: 75%;
}

.ratio-3x2 {
  padding-bottom: 66.66%;
}

.ratio-21x9 {
  padding-bottom: 42.857%;
}

.ratio-1x1-1 {
  padding-bottom: 110%;
}

.ratio-1x1 {
  padding-bottom: 100%;
}

img {
  height: auto;
  width: auto;
  max-width: 100%;
  object-fit: cover;
}

.avatar {
  width: 50px;
  min-width: 50px;
  height: 50px;
  position: relative;
  overflow: hidden;
  border-radius: 100px;
}

h1,
h2,
h3 {
  font-weight: 600;
}


h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 16px;
  font-weight: 400;
}

.fs-14 {
  font-size: 14px;
  color: #707D86;
}

.container-1 {
  max-width: 1200px;
  margin: 0px auto;
  padding: 16px;
}



.form-sign {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 400px;
  margin: auto;
  background-color: white;
}

button {
  width: 100%
}

.form-sign input {
  border: 1.5px solid grey;
  border-radius: 5px;
  color: #2e4369;
  font-size: 16px;
  font-weight: 500;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 40px;
  margin-top: 0px;
  width: 100%;
}

.btn {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.25rem;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #5d5dff;
  transition: all 0.2s linear;
  cursor: pointer;
}

.btn:hover {
  background-color: #4b4acf;
}

.fit-content {
  width: fit-content !important;
}







/* sections  */

.space-card-section .space-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  border-radius: 5px;
  border: 1px solid rgb(224, 223, 223);
  background-color: white;
  transition: all 0.2s linear;
}

.space-card-section .space-card:hover {
  box-shadow: -1px 7px 12px -4px rgba(156, 156, 156, 0.75);
}